/node_modules
/public/**
!public/index.php
!public/.htaccess
/storage/*.key
/storage/logs
/vendor

.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
/.idea
/.vscode
