$danger: #ff8a3f;
$textDark: #454545;
$textGray400: #474761;
$textLight: #f2f2f2;
$buttonBgColor: #1b1b29;
$buttonColor: #cdcdde;
$buttonBgColorHover: #212e48;
$buttonColorHover: #3699ff;
$borderColor: #282a3d;
$borderColorHover: #8790d3;
